temp.txt
EquityStudy/js/bootstrap.bundle.js	
EquityStudy/js/bootstrap.bundle.min.js	
EquityStudy/js/bootstrap.js
EquityStudy/js/bootstrap.min.js
EquityStudy/js/buttonAction.js
EquityStudy/js/bootstrap.bundle.js.map
EquityStudy/js/bootstrap.bundle.min.js.map
EquityStudy/js/bootstrap.js.map
EquityStudy/js/bootstrap.min.js.map
