<!DOCTYPE html>
<html>
<head>
    <title>Equity to Credit Cycle</title>
    <meta charset="utf-8">
    <meta name="viewport", content="width=device-width, initial-scale=1, user-scalable=yes">
     <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/stylePlot.css') }}">

    
</head>
    <body>

                <div class="container" >
                            <img src="static/images/SPY_Close_Price_versus%20Interest%20Rates.png" class="bodyImage" width="1024" height="512">        
                </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <!--script src="{{ url_for('static',filename='js/plotActions.js') }}"></script-->
    </body>
</html>
